@font-face {
  font-family: "SubwayTicker";
  src: url(/fonts/subway_ticker-webfont.eot);
  src: url(/fonts/subway_ticker-webfont.eot?#iefix) format('eot'),
       url(/fonts/subway_ticker-webfont.ttf) format('truetype'),
       url(/fonts/subway_ticker-webfont.woff) format('woff'),
       url(/fonts/subway_ticker-webfont.svg) format('svg');
}

h1 {
  font-family: "SubwayTicker";
  font-weight: normal;
  font-size: 120px;
  line-height: 10px;
  padding: 0 25px;
}
