@font-face {
  font-family: "SubwayTicker";
  src: url(/fonts/subway_ticker-webfont.eot);
  src: url(/fonts/subway_ticker-webfont.eot?#iefix) format('eot'),
       url(/fonts/subway_ticker-webfont.ttf) format('truetype'),
       url(/fonts/subway_ticker-webfont.woff) format('woff'),
       url(/fonts/subway_ticker-webfont.svg) format('svg');
}

h1 {
  font-family: "SubwayTicker";
  font-weight: normal;
  font-size: 180px;
  line-height: 13px;
  padding: 0 25px;
}

a {
  color: #FF1493;
  text-decoration: none;
}

a:hover {
  color: #39FF14;
}

.container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.odb {
  flex-shrink: 0;
}

.components {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  white-space: pre;
  margin: 0;
  padding: 25px;
}

.description {
  margin: 20px;
  padding: 20px;
  line-height: 1.6;
  font-family: monospace;
  font-size: 25px;
}
